<%= form_for(@club) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_field :name, placeholder: "name your club" %>
      <%= f.text_area :description, placeholder: "describe your club" %>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>